@import "tailwindcss";


/* 
  Scrollbar 
*/
*::-webkit-scrollbar {
	width: 12px;
}
*::-webkit-scrollbar-track {
	background: #111;
}
*::-webkit-scrollbar-thumb {
	background-color: #0085FF !important;
	border-radius: 20px;
	border: 5px solid #111;
}

body {
	font-family: 'Montserrat Variable', sans-serif;
}

.tcp-container {
	@apply max-w-[1200px] mx-auto px-4;
}

.ch-btn {
	@apply bg-[#FF7010] px-[100px] py-6 text-white font-semibold rounded-sm mx-auto block w-full md:w-fit cursor-pointer leading-[120%];
}