---
import Banner from '../components/Banner.astro';
import Beneficts from '../components/Beneficts.astro';
import Faqs from '../components/Faqs.astro';
import Hero from '../components/Hero.astro';
import Testimonials from '../components/Testimonials.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Hero />
	<Testimonials />
	<Banner />
	<Beneficts />
	<Faqs />
	<p class="text-[#FFF]/80 text-[14px] md:text-[16px] px-4 text-center pb-12">© Juampi Gardonio Fitness 2025. Todos los derechos reservados.</p>
</Layout>
