<section class="bg-[#121212] relative overflow-clip py-[100px]">
	<div
		class="absolute scale-150 md:scale-200 bottom-0 left-0 opacity-50 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"
	>
	</div>
	<div class="tcp-container relative">
		<h2 class="max-w-[1050px] mx-auto text-[24px] md:text-[36px] font-bold text-center leading-[120%] text-[#FFF]">Sé lo que es entrenar y comer bien... y seguir sin resultados. Yo también estuve ahí.</h2>
		<p
			class="max-w-[630px] mx-auto md:text-[18px] text-[16px] text-white/80 text-center leading-[130%] mt-4"
		>
			Por eso diseñé un método que REALMENTE funciona, sin dietas absurdas ni sacrificios innecesarios.
		</p>
		<p class="text-[#0085FF] font-semibold text-center md:text-[18px] max-w-[450px] mx-auto mt-4">Este es el camino más directo a un físico increíble sin renunciar a tu vida.</p>
		<div class="mt-8">
			<button class="ch-btn open-popup">Aplica al Programa Ahora »</button
			>
			<p class="text-[#FFF]/80 text-center text-[12px] md:text-[14px] mt-4">
				Cupos limitados | Programa exclusivo
			</p>
		</div>
	</div>
</section>