<section class="bg-[#121212] relative overflow-clip">
	<div
		class="absolute scale-150 md:scale-200 bottom-0 left-0 opacity-50 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"
	>
	</div>
	<div class="bg-[#0085FF] size-[300px] rounded-full absolute blur-[180px] md:blur-[250px] opacity-50 -right-[150px] -bottom-[150px]"></div>
	<h2 class="pt-4 relative">
		<img
			src="/images/juampi-gardonio-logo.webp"
			alt="Juampi Gardonio Fitness"
			class="h-[30px] md:h-[49px] w-auto block mx-auto"
		/>
	</h2>
	<div class="tcp-container relative py-[60px] md:py-[80px]">
		<h1
			class="font-bold text-[24px] leading-[120%] md:text-[36px] md:leading-[45px] text-white text-center max-w-[1055px] mx-auto mb-4 md:my-8"
		>
			Te hacemos bajar el % Graso, aumetar masa muscular y <span
				class="bg-[#0085FF]"
				>lograr un cuerpo marcado y estético en 90 días</span
			> <span class="hidden md:inline">con 4 horas a la semana</span>
		</h1>
		<div class="bg-gray-400 max-w-[885px] mx-auto aspect-video rounded-sm"></div>
		<p
			class="max-w-[850px] mx-auto md:text-[16px] text-[14px] text-white/80 text-center leading-[130%] mt-4 md:mt-8"
		>
			Si entrenás y comés “bien” pero no ves resultados, el problema no
			sos vos, es el método que usas. Yo te ayudo a <strong
				>transformar tu físico</strong
			> sin dietas extremas ni sacrificar tu vida social.
		</p>
		<div class="mt-8">
			<button class="ch-btn open-popup">Aplica al Programa Ahora »</button
			>
			<p class="text-[#FFF]/80 text-center text-[12px] md:text-[14px] mt-4">
				Cupos limitados | Programa exclusivo
			</p>
		</div>
	</div>
</section>
