<section class="py-[80px] md:py-[100px]">
	<div class="tcp-container">
		<span class="bg-[#0085FF]/20 py-2 block mx-auto w-fit px-8 font-semibold text-[#0085FF] rounded-full text-[14px] mb-4">Testimonios</span>
		<h2 class="max-w-[547px] mx-auto text-[24px] md:text-[36px] font-bold text-center leading-[120%]">Qué opinan los alumnos del programa</h2>
		<p class="text-[#111]/80 w-[415px] max-w-full mx-auto text-center mt-4 mb-8">Hemos ayudado a <strong>+150 personas</strong> a conseguir los resultados que buscaban</p>
		<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
			<div class="bg-gray-400 aspect-[9/16] rounded-sm"></div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm"></div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm"></div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm"></div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm"></div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm"></div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm"></div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm"></div>
		</div>
		<div class="mt-8">
			<button class="ch-btn open-popup">Aplica al Programa Ahora »</button
			>
			<p class="text-[#111]/80 text-center text-[12px] md:text-[14px] mt-4">
				Cupos limitados | Programa exclusivo
			</p>
		</div>
	</div>
</section>