<section class="py-[80px] md:py-[100px] bg-white">
	<div class="tcp-container">
		<span class="bg-[#0085FF]/20 py-2 block mx-auto w-fit px-8 font-semibold text-[#0085FF] rounded-full text-[14px] mb-4">Testimonios</span>
		<h2 class="max-w-[547px] mx-auto text-[24px] md:text-[36px] font-bold text-center leading-[120%]">Qué opinan los alumnos del programa</h2>
		<p class="text-[#111]/80 w-[415px] max-w-full mx-auto text-center mt-4 mb-8">Hemos ayudado a <strong>+150 personas</strong> a conseguir los resultados que buscaban</p>
		<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
			<div class="bg-gray-400 aspect-[9/16] rounded-sm">
				<iframe src="https://fast.wistia.net/embed/iframe/hcwu1sauqq?web_component=true&seo=true" title="copy_00F853B9-7C6A-4E44-AE25-E3AA82E972A5 Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="100%" height="100%"></iframe>
			</div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm">
				<iframe src="https://fast.wistia.net/embed/iframe/au02aij3ie?web_component=true&seo=true" title="copy_DB4577CF-2CFA-4BDC-AF98-2CD0CBE7A916 Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="100%" height="100%"></iframe>
			</div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm">
				<iframe src="https://fast.wistia.net/embed/iframe/yeu0k0i684?web_component=true&seo=true" title="copy_5FA4540B-F840-459B-A637-91AA9CBDDAC5 Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="100%" height="100%"></iframe>
			</div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm">
				<iframe src="https://fast.wistia.net/embed/iframe/htmvm3tnxm?web_component=true&seo=true" title="copy_5A12F726-F4C8-4D58-8264-E57C8B35442A Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="100%" height="100%"></iframe>
			</div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm">
				<iframe src="https://fast.wistia.net/embed/iframe/6g59q2zntg?web_component=true&seo=true" title="Sergio Ayala Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="100%" height="100%"></iframe>
			</div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm">
				<iframe src="https://fast.wistia.net/embed/iframe/g5ubxf5wxd?web_component=true&seo=true" title="copy_8F779759-A85A-4D78-80CA-7E2F5E59AE89 Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="100%" height="100%"></iframe>
			</div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm">
				<iframe src="https://fast.wistia.net/embed/iframe/26jqj0pld3?web_component=true&seo=true" title="copy_B02DBF34-50E2-4324-AB6F-9D1E01C3BA01 Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="100%" height="100%"></iframe>
			</div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm">
				<iframe src="https://fast.wistia.net/embed/iframe/rojjkj5syo?web_component=true&seo=true" title="copy_99841D03-8F16-40AE-B8F3-07B24C6B6F3D Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="100%" height="100%"></iframe>
			</div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm md:hidden">
				<iframe src="https://fast.wistia.net/embed/iframe/wj97ribba5?web_component=true&seo=true" title="Keril Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="100%" height="100%"></iframe>
			</div>
			<div class="bg-gray-400 aspect-[9/16] rounded-sm md:hidden">
				<iframe src="https://fast.wistia.net/embed/iframe/31fbtytxyw?web_component=true&seo=true" title="Caso Exito Gaby 2 Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="100%" height="100%"></iframe>
			</div>
		</div>
		<div class="mt-8">
			<a href="https://calendly.com/juanpygardonio/30min" class="ch-btn open-popup">Aplicar al Programa Ahora »</a>
			<p class="text-[#111]/80 text-center text-[12px] md:text-[14px] mt-4">
				Cupos limitados | Programa exclusivo
			</p>
		</div>
	</div>
</section>

<script src="https://fast.wistia.net/player.js" async></script>